extends layout.pug
block head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async)

block content
    
    main
        center
            h5.TitleWP.SecundaryText.text-lighten-2 Programa para observar la amplitud y frecuencia
                .section
                .container
                    .z-depth-1.lighten-4.row.NavBarWP.log_in
                        form.col.s12(method="post" action="/home/A_F" id="submit")
                            .row
                                .input-field.col.s12
                                    input.white-text#numA(type="text" name="numA")
                                    label() Ingresa a
                            .row
                                .input-field.col.s12
                                    input.white-text#numA(type="text" name="numB")
                                    label() Ingresa b
                            br
                            center
                                .row
                                    button.col.s12.btn.btn-large.waves-effect.waves-light.grey.darken-4(type="submit" name="btn_login") Send
block postBanner    
    .section.dark.center
        br
        h5.light.white-text La amplitud y la frecuancia de la siguiente función, para una serie de Fourier
        br
        h5.light.white-text `C_n = (a(-1 + (-1)^n * (1 - i*n*pi)))/(2 * pi^2 * n^2) + (b * (-1)^n * (pi * n * (2 + i * pi * n) + (2 * i * (-1)^n) - 2 * i))/(2 * pi^3 * n^3)`
        br
        h5.light.white-text `C_0 = a/2 + b/3`
    
    .section.center.tit
        h2 Gráfica de amplitud
        .plotAbs#plotAbs
        h2 Gráfica de freceuncia
        .plotAng#plotAng
block script
    script(src='../javascripts/home/initA_F.js')
    script(src='../javascripts/plotly-latest.min.js')
