extends layout.pug
block head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async)
block content
    .section
        h4
            |Comparación de una función y su transformada de Fourier
        .quart-fixer
        h5.light.white-text Dada la función
        br
        h5.light.white-text Con `f(t) = 1/(a^2+t^2)`
        br
        h5.light.white-text Y su transformada de Fourier
        br
        h5.light.white-text `F(w) = (sqrt(pi/2) e^(-a*abs(w)))/a`
block postBanner
    center
        .section.dark
            br
            h5.white-text Mueva el punto para elgir el valor de a
            .section
                form.col.s12(method="post" action="/home/F_T" id="submit")
                    p.range-field
                        input(type="range" min="-10" max="10" name="numA" id="numA" step="0.2")
    .section.center.tit
        h2 Gráfica de función
        .plotAbs#plotAbs
        h2 Gráfica de transformada
        .plotAng#plotAng
block script
    script(src='../javascripts/home/initT_F.js')
    script(src='../javascripts/plotly-latest.min.js')
