doctype html  
html(lang='en')  
    head
        title= title     
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(href="../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection")
        link(href='../stylesheets/style.css', rel='stylesheet')
        if !index    
            link(href='../stylesheets/responsive.css', rel='stylesheet')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML")
        block head

    body
        nav(class= 'NavBarWP' role="navigation")
            div(class="nav-wrapper container")
                
                if user
                    a(href="/home" class="white-text")
                        img(id="logo-container" src="../images/LogoS.png")
                else
                    a(id="logo-container" href="/" class="white-text")
                        img(src="../images/LogoS.png")
                block midNavBar
                ul.right
                    li
                        if user
                            a(href="" data-target="slide-out" class="sidenav-trigger white-text show-on-large button-collapse")
                                i.large.material-icons account_box
                        if index
                            a.white-text(href='./login') Iniciar Sesi&oacute;n
        if !index              
            ul(id="slide-out" class="sidenav")
                li
                    div(class="user-view")
                        div(class="background")
                            img(src="../images/SapceBG.png")
                        a(href="#user")
                            img(class="circle" src="../images/LogoS.png")
                        a(href="#name")
                            span(class="white-text name")=user
                        a(href="#email")
                            span(class="white-text email")=mail
                li
                    a(href="/logout") LogOut
                li
                    div(class="divider")
                li
                    a(class="subheader") Subheader
                li
                    a(class="waves-effect" href="#!") Third Link With Waves

            div(id="index-banner" class="parallax-container content")
                .quart-fixer
                block content
                .quart-fixer
        
        block postBanner


        footer(class="page-footer")
            div(class="container")
                div(class="row")
                    div(class="col l9 s12")
                        h5(class="white-text") About This
                        p Un simple página web con contenido multimedia
                        p Thanks to all freeware coders wich help in the creation of this content
                    div(class="col l3 s12")
                        h5(class="white-text") Contact
                        ul
                            li
                                i.fab.fa-twitter
                                a.brown-text.text-lighten-3(href='https://twitter.com/WYHN_')  @WYHN_
                            li 
                                i.fas.fa-envelope
                                a.brown-text.text-lighten-3   chiefalphadog@gmail.com


                        
    
            div(class="footer-copyright")
                .container
                    | Page made by 
                    a.brown-text.text-lighten-3(href='') Andres Rodart
                        block footer

        block scriptPre
        
        script(src='../javascripts/jquery-3.3.1.min.js')
        script(src='../javascripts/materialize.js')
        if !index      
            script(src='../javascripts/home/sideNav.js')
            script(src='../javascripts/jquery.validate.min.js')
        block script